#Spotify Playlist (mp3's)
src/resources-songs/*
#Seperated tracks
src/separated/*
#install libs
install-files
win32Install.zip
#tokens
src/clientsecrets.py
#other
src/__pycache__/*
src/last_playlist.log
venv/*
src/newuser