antlr4-python3-runtime==4.9.3
cffi==1.15.1
cloudpickle==2.2.1
colorama==0.4.6
customtkinter==5.1.2
Cython==0.29.34
darkdetect==0.8.0
demucs==3.0.5
diffq==0.2.4
dora-search==0.1.12
filelock==3.12.0
Jinja2==3.1.2
julius==0.2.7
lameenc==1.4.2
MarkupSafe==2.1.2
mpmath==1.3.0
music-tag==0.4.3
mutagen==1.46.0
networkx==3.1
numpy==1.23.5
omegaconf==2.3.0
openunmix==1.2.1
Pillow==9.4.0
psutil==5.9.5
PyAudio==0.2.13
pycparser==2.21
pypresence==4.2.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyYAML==6.0
retrying==1.3.4
six==1.16.0
soundfile==0.12.1
submitit==1.4.5
sympy==1.12
#No CUDA
torch>=1.9.0
torchaudio>=0.9.0
torchvision>=0.10.0
tqdm==4.65.0
treetable==0.2.5
typing_extensions==4.6.0
vcolorpicker==1.4.1
Werkzeug==2.2.3
GPUtil==1.4.0